<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />

        <!-- mobile meta (hooray!) -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

        <title>Boilerplate</title>
        <meta name="title" content="Boilerplate">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Open Graph data -->
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:image:type" content="" />
        <meta property="og:type" content="" />

        <!-- Our Styles -->
        <link rel="stylesheet" href="/css/styles.css" />

        <!-- Icons & Favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
        <!-- Apple touch icon (for more: http://mathiasbynens.be/notes/touch-icons) -->
        <link rel="apple-touch-icon-precomposed" href="">
        <!-- Safari, Chrome, Firefox, Opera -->
        <link rel="icon" href="favicon.png?v=2">
        <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
        <!-- or, set /favicon.ico for IE10 win -->
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>

    <body>
        <header class="c-header">
            <h1 class="c-header__logo"><a class="js-navigate" href="/">othervice</a></h1>
            <div class="c-header__nav">
                <a class="c-header__navigation js-navigate" href="/cases/">cases</a>
                <a class="c-header__navigation js-navigate" href="/about/">about</a>
                <a class="c-header__navigation js-navigate" href="/contact/">contact</a>
            </div>
        </header>

        <div class="c-video-background">
            <canvas class="c-video-background__canvas c-video-background__canvas--1"></canvas>
            <canvas class="c-video-background__canvas c-video-background__canvas--2"></canvas>
            <div class="c-video-background__overlay"></div>
        </div>

        <section class="o-section o-section--landing">
            <div class="c-featured">
                <a class="c-featured__wrapper js-navigate" :href="featured_first.url">
                    <div class="c-featured__video-holder">
                        <div class="main-video-mask"></div>
                        <h2 class="project-title">{{ featured_first.fields.case_title }}</h2>
                        <video class="c-featured__video" v-for="featured_case in featured" :data-video-id="featured_case.id" autoplay loop>
                            <source :src="featured_case.fields.featured_video.url" type="video/mp4">
                        </video>
                    </div>
                </a>
            </div>
        </section>

        <section class="o-section o-section--case">
            <div class="o-container c-case">
                <div class="c-case__video-wrapper">
                    <div class="c-case__mask"></div>
                    <img class="c-case__placeholder" src="/images/placeholder.png" />
                    <video class="c-case__video">
                        <source :src="fields.videoUrl" type="video/mp4">
                    </video>
                </div>
                <div class="c-case__info">
                    <h2 class="c-case__title">{{ fields.title }}</h2>
                    <p class="c-case__about">{{ fields.about }}</p>
                </div>
            </div>
        </section>

        <section class="o-section o-section--about">
            <div class="o-container c-about">
                <div class="o-row">
                    <div class="o-col o-col--12">
                        <h2 class="c-headline c-headline--large">Film<br>Animation<br>3D & VFX</h2>
                    </div>
                </div>
                <div class="o-row">
                    <div class="o-col o-col--4">
                        <p>Directors, editors, VFX artists, illustrators, animators and much more. All gathered under a common name. We embrace and capitalize on our differences, giving each idea and project a unique look and feel.</p>
                        <br>
                        <p>With offices in Stockholm and Berlin, we are Othervice, a production agency in all but name.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="o-section o-section--contact">
            <div class="c-contact">
                <a class="c-contact__anchor" href="mailto::hi@othervice.com">hi@othervice.com</a>
            </div>
        </section>

        <section class="o-section o-section--cases">
            <div class="c-cases">
                <canvas class="c-cases__canvas"></canvas>
                <nav class="c-cases__nav">
                    <ul class="c-cases__nav-list">
                        <li class="c-cases__nav-list-item" v-for="work_case in cases">
                            <a class="c-cases__nav-list-item-anchor js-navigate" :href="work_case.url" :data-case-id="work_case.id">{{ work_case.title }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        <div class="c-overlay-mask c-overlay-mask--black"></div>
        <div class="c-overlay-mask c-overlay-mask--orange"></div>

        <script src="/js/build.js"></script>

    </body>
</html>
